* {
    font-family: 'Roboto', sans-serif;
}

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
    height: 100%;
}

#form {
    margin: 10px;
}

#addressInput {
    width: 17%;
}

#locationSelect {
    margin-bottom: 10px;
    margin-left: 10px;
}

/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin:0px;
    padding:0px;
}

#modal {
    position: fixed;
    top: 15%;
    z-index: 1;
    background: white;
    border: solid 1px;
    margin-left: 1%;
    padding-left: 1%;
    padding-right: 1%;
    max-width: 40%;
    max-height: 30%;
    overflow: scroll
}